﻿body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

b, strong {
    font-weight: 600;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
}

.header {
    background: #f0f5f8;
    padding: 20px 15px;
    margin: 25px 0 25px;
}

    .header .leftLogo {
        line-height: 0;
        float: left;
    }

    .header .rightText {
        float: right;
        font-size: 16px;
        padding: 35px 0 0;
    }

        .header .rightText strong {
            display: block;
            font-size: 24px;
            text-align: right;
        }

.middleCont .leftArea {
    float: left;
    width: 780px;
    border: 1px solid #ddd;
    text-align: center;
    height: 834px;
    position: relative;
}

    .middleCont .leftArea img {
        width: 700px;
        height: 700px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -350px 0 0 -350px;
    }

.middleCont .rightArea {
    float: right;
    width: 380px;
}

    .middleCont .rightArea table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

        .middleCont .rightArea table tr:nth-child(2n+2) {
            background: #f0f5f8;
        }

        .middleCont .rightArea table td {
            width: 50%;
            white-space: nowrap;
            border: 1px solid #ddd;
            padding: 5px 8px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .middleCont .rightArea table td:first-child {
                font-weight: 600;
            }

    .middleCont .rightArea .hours24 {
        text-align: center;
        font-size: 25px;
        color: #666;
        padding: 15px 10px;
        background: #f0f5f8;
        margin: 20px 0;
        line-height: 1.2;
        font-weight: 600;
    }

        .middleCont .rightArea .hours24 strong {
            display: block;
            font-size: 33px;
            color: #333;
        }

    .middleCont .rightArea .smallText {
        font-size: 12px;
        color: #666;
        line-height: 1.3;
        margin: 0 0 20px;
    }

.ArtworkPart {
    background: #f0f5f8;
    float: right;
    width: 330px;
    padding: 15px 20px;
}

    .ArtworkPart #divArtwork {
        font-size: 0;
        margin: 0 0 10px;
    }

        .ArtworkPart #divArtwork label {
            display: inline-block;
            font-size: 14px;
            margin: 0 15px 5px 0;
        }

            .ArtworkPart #divArtwork label input {
                position: relative;
                top: 1px;
                margin: 0 5px 0 0;
                color: #fff;
            }

    .ArtworkPart input[type="text"] {
        border-bottom: 1px dashed #fff;
        background: none;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

.middleCont .rightArea .Maxs, .middleCont .rightArea #trComments {
    margin: 0 0 10px;
    font-size: 0;
}

    .middleCont .rightArea .Maxs span, .middleCont .rightArea #trComments span {
        width: 30%;
        height: auto;
    }

    .middleCont .rightArea .Maxs strong, .middleCont .rightArea #trComments strong {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.2;
        float: right;
        width: 70%;
        margin: 4px 0 0;
        display: block;
    }

    .middleCont .rightArea .Maxs *, .middleCont .rightArea #trComments * {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        font-size: 14px;
    }

.lgBtns {
    margin: 15px 0 0;
}

    .lgBtns input {
        font-size: 16px;
        background: #151515;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        padding: 3px 10px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
    }

        .lgBtns input:first-child {
            background: #2286c6;
            margin: 0 10px 0 0;
        }

.footer {
    margin: 30px 0 20px;
}

    .footer .leftSmallImg {
        float: left;
        width: 230px;
        height: 307px;
        background: #f0f5f8;
        position: relative;
    }

        .footer .leftSmallImg img {
            display: block;
            position: absolute;
            width: 180px;
            left: 50%;
            top: 50%;
            margin: -90px 0 0 -90px;
            background: #ededed;
            border: 0;
        }

    .footer .rightInfo {
        float: right;
        width: 950px;
        background: #f0f5f8;
        padding: 20px 20px;
        line-height: 1.3;
    }

        .footer .rightInfo strong {
            font-size: 16px;
            display: block;
            color: #333;
            margin: 15px 0 5px;
        }

        .footer .rightInfo p {
            margin: 0;
            font-size: 12px;
            margin: 3px 0;
        }

.leftYText p {
    font-size: 12px;
    margin: 8px 0;
}

.leftYText strong {
}

.footer .rightInfo .leftYText {
    width: 265px;
    padding: 0 20px 0 0;
}

.footer .rightInfo .rightYText {
    width: 575px;
    padding: 0 20px 0 0;
    border-right: 2px solid #999;
    visibility:hidden;
}

    .footer .rightInfo .rightYText strong {
        margin: 0 0 10px;
    }

.footer .rightInfo .leftYText, .footer .rightInfo .rightYText {
    float: left;
}

    .footer .rightInfo .leftYText strong, .footer .rightInfo .rightYText strong {
        display: block;
    }

    .footer .rightInfo .leftYText ul, .footer .rightInfo .rightYText ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer .rightInfo .leftYText ul li, .footer .rightInfo .rightYText ul li {
            margin: 0 0 3px;
            font-size: 12px;
        }

.lgBtns {
    margin: 15px 0 0;
}

    .lgBtns a {
        font-size: 16px;
        background: #151515;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        padding: 3px 10px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        text-decoration: none;
    }

        .lgBtns a:first-child {
            background: #2286c6;
            margin: 0 10px 0 0;
        }

.headTag {
    background: #f0f5f8;
    padding: 10px;
    margin: 30px 0 30px;
    font-size: 18px;
}

.lgWrap {
    font-size: 0;
}

    .lgWrap .leftImg {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 300px;
        position: relative;
        background: #f0f5f8;
        border: 2px solid #e0e5e8;
        margin: 0 30px 0 0;
    }

        .lgWrap .leftImg img {
            width: 200px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -124px 0 0 -100px;
        }

        .lgWrap .leftImg.fedxImg img {
            position: absolute;
            margin-left: -125px;
            margin-top: -85.5px !important;
            top: 50%;
            left: 50%;
            width: 250px;
            height: auto;
            max-height: none !important;
        }

    .lgWrap .rightAcv {
        display: inline-block;
        vertical-align: top;
    }

        .lgWrap .rightAcv h4 {
            border-bottom: 2px solid #ccc;
            font-size: 16px;
            margin: 0 0 10px;
            padding: 0 0 8px;
        }

#divFEDEX > br, #divUPS > br {
    display: block;
    margin: 4px 0;
}


@media print {
    .container {
        width: 800px;
    }

    .middleCont .leftArea {
        width: 150px;
        height: auto;
    }

    .footer .rightInfo {
        width: 630px;
        padding: 0;
        background: none;
    }

        .footer .rightInfo .leftYText {
            width: auto;
            padding: 0;
        }

    .header .leftLogo img {
        height: 60px;
    }

    .footer .rightInfo .rightYText {
        width: auto;
        padding: 20px 0 0;
        border: 0;
    }

    .middleCont .leftArea img {
        max-width: 100%;
        position: static;
        margin: 0;
        height: auto;
    }

    .header .rightText {
        padding: 0;
    }

    .middleCont .rightArea .hours24 {
        font-size: 15px;
    }

        .middleCont .rightArea .hours24 strong {
            font-size: 18px;
        }

    .middleCont .rightArea {
        width: 630px;
    }

        .middleCont .rightArea table {
            float: left;
            width: 50%;
        }

        .middleCont .rightArea .hours24 {
            float: left;
            width: 48%;
            margin: 0 0 0 2%;
        }

        .middleCont .rightArea .smallText {
            display: inline-block;
            width: 100%;
            padding: 10px 0 0;
        }

    .footer .rightInfo strong {
        font-size: 14px;
    }

    .footer .rightInfo p {
        font-size: 11px;
    }

    .header {
        margin: 0 0 20px;
        padding: 0;
        background: none;
    }

    .footer .leftSmallImg {
        width: 150px;
    }
}
/*-------------------pooja css-----------------------*/
.ArtworkPart {
    background: #2286c6;
    box-shadow: 5px 10px 10px #a5a5a5;
}

    .ArtworkPart #divArtwork {
        font-weight: bold;
        color: #fff;
    }

    .ArtworkPart #trComments span, .ArtworkPart .Maxs span {
        font-weight: bold;
        color: #fff;
    }

    .ArtworkPart .Maxs strong {
        font-weight: bold;
        font-size: 15px;
        color: #fff;
    }

    .ArtworkPart .lgBtns input:first-child {
        background: #151515;
    }

#lblContactUs {
    font-weight: bold;
    color: #ffa200 !important;
}

.scrollToForm {
    position: fixed;
    right: -91px;
    cursor: pointer;
    top: 35%;
    background: #2286c6;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -webkit-transition: 1s;
    transition: 1s;
}

    .scrollToForm:hover {
        right: 0;
        -webkit-transition: 1s;
        transition: 1s;
    }
    .rightText b {margin:0 0 0 15px;    }
    .rightText br{display:none;}
@media (max-width: 600px) {
    .rightText br {
        display: block;
    }

    .container {
        padding: 0 15px;
        width: auto;
    }

    .header .leftLogo {
        float: none;
        text-align: center;
    }

        .header .leftLogo img {
            width: 50%;
        }

    .header {
        margin: 70px 0 15px;
        padding: 15px 0;
    }

        .header .rightText {
            float: none;
            padding: 15px 0 0;
            text-align: center;
        }

            .header .rightText strong {
                text-align: center;
                font-size: 18px;
            }

    

    .middleCont .leftArea {
        float: none;
        height: auto;
        margin: 0 0 15px;
        width: auto;
    }

    .middleCont .rightArea {
        float: none;
        width: auto;
    }

    .leftArea ul li {
        height: auto !important;
    }

    .middleCont .rightArea .hours24 strong {
        font-size: 28px;
    }

    .footer .rightInfo .rightYText {
        border: 0 none;
        float: none;
        padding: 0;
        width: auto !important;
    }

    .ArtworkPart {
        float: none;
        margin: 20px 0 !important;
        width: auto;
    }

    #divRework {
        padding: 18px 0 0;
        text-align: center !important;
    }

    .scrollToForm {
        border-radius: 0;
        left: 15px;
        right: 15px;
        text-align: center;
        top: 15px;
        z-index: 999;
    }
   .footer .rightInfo{width:auto;float:none;height:auto;}
    .footer .leftSmallImg {width:100%;}
    .middleCont .leftArea img {
        width: auto;
        height: auto;
        position: static;
        margin: 0;
        max-width: 100%;
    }
}

