body{margin:0;}
.container{width:1200px;margin:0 auto;}
.clear{clear:both;}
b,strong{font-weight:600;}
*{box-sizing:border-box;font-family: 'Open Sans', sans-serif;color:#333;font-size:14px;}
.header{background:#f0f5f8;padding:20px 15px;margin:25px 0 25px;
.leftLogo{line-height:0;float:left;}
.rightText{float:right;font-size:16px;padding:35px 0 0;
           strong{display:block;font-size:24px;text-align:right;}
}
}
.middleCont{
    .leftArea{float:left;width:780px;border:1px solid #ddd;text-align:center;height:834px;position:relative;
              img{width:400px;height:400px;position:absolute;left:50%;top:50%;margin:-200px 0 0 -200px;}
    }
    .rightArea{float:right;width:380px;
               table{border-collapse:collapse;table-layout:fixed;width:100%;
                   tr{
                       &:nth-child(2n+2){background:#f0f5f8;}
                   }
                   td{width:50%;white-space:nowrap;border:1px solid #ddd;padding:5px 8px;overflow:hidden;text-overflow:ellipsis;
                      &:first-child{font-weight:600;}
                   }
               }
               .hours24{text-align:center;font-size:25px;color:#666;padding:15px 10px;background:#f0f5f8;margin:20px 0;line-height:1.2;font-weight:600;
                        strong{display:block;font-size:33px;color:#333;}
               }
               .smallText{font-size:12px;color:#666;line-height:1.3;margin:0 0 20px;}
               .ArtworkPart{background:#f0f5f8;padding:15px 20px;
                            #divArtwork{font-size:0;margin:0 0 10px;
                                label{display:inline-block;font-size:14px;margin:0 15px 5px 0;
                                      input{position:relative;top:1px;margin:0 5px 0 0;}
                                }
                            }
                            input[type="text"]{border-bottom:1px dashed #999;background:none;border-left:0;border-right:0;border-top:0;}
               }
               .Maxs,#trComments{margin:0 0 10px;font-size:0;
                                 span{width:30%;height:auto;}
                                 strong{font-size:12px;font-weight:normal;line-height:1.2;float:right;width:70%;margin:4px 0 0;display:block;}
                   *{display:inline-block;vertical-align:middle;width:70%;font-size:14px;}
               }
               .lgBtns{margin:15px 0 0;
                   input{font-size:16px;background:#151515;border:0;color:#fff;text-transform:uppercase;font-weight:700;padding:3px 10px;border-radius:5px;display:inline-block;vertical-align:top;cursor:pointer;
                         &:first-child{background:#2286c6;margin:0 10px 0 0;}
                   }
               }
    }
}
.footer{margin:30px 0 20px;
    .leftSmallImg{float:left;width:230px;height:276px;background:#f0f5f8;position:relative;
                  img{display:block;position:absolute;width:180px;height:180px;left:50%;top:50%;margin:-90px 0 0 -90px;background:#ededed;border:0;}
    }
    .rightInfo{
        float:right;width:950px;background:#f0f5f8;padding:20px 20px;line-height:1.3;
        strong{font-size:16px;color:#333;margin:0 0 5px;}
        p{margin:0;font-size:12px;margin:3px 0;}
        .leftYText{width:265px;padding:0 20px 0 0;}
        .rightYText{width:645px;padding:0 0 0 20px;border-left:2px solid #999;
                    strong{margin:0 0 10px;}
        }
        .leftYText,.rightYText{float:left;
                               strong{display:block;}
                               ul{list-style:none;padding:0;margin:0;
                                  li{margin:0 0 3px;font-size:12px;}
                               }
        }
    }
}

 .lgBtns{margin:15px 0 0;
                   a{font-size:16px;background:#151515;border:0;color:#fff;text-transform:uppercase;font-weight:700;padding:3px 10px;border-radius:5px;display:inline-block;vertical-align:top;cursor:pointer;text-decoration:none;
                         &:first-child{background:#2286c6;margin:0 10px 0 0;}
                   }
               }

.headTag{background:#f0f5f8;padding:10px;margin:30px 0 30px;font-size:18px;}

.lgWrap{font-size:0;
    .leftImg{display:inline-block;vertical-align:top;width:300px;height:300px;position:relative;background:#f0f5f8;border:2px solid #e0e5e8;margin:0 30px 0 0;
             img{width:200px;position:absolute;left:50%;top:50%;margin:-124px 0 0 -100px;}
             &.fedxImg{
                 img{
                     position: absolute;
                     margin-left: -125px;
                    margin-top: -85.5px!important;
                    top: 50%;
                    left:50%;
                    width: 250px;
                    height:auto;
                    max-height:none!important;
                 }
             }
    }
    .rightAcv{display:inline-block;vertical-align:top;
              h4{border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0 0 8px;}
    }
}
#divFEDEX > br,#divUPS > br {
    display: block;
    margin: 4px 0;
}



@media print {
}