﻿@using Adbag_NAVMicroservice.Models
@model IEnumerable<Adbag_NavMicroservice.RLCarriersService.ServiceLevel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>R and L Charges</title>
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />*@
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="~/js/jquery-1.8.3.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@

    <script>
            $(document).ready(function () {
                $('#btnSubmit').click(function () {
                    debugger;
                    
                    var FEDEXText = $('#divFEDEX').find('input[type="radio"]:checked').attr('title');
                    var FEDEXValue = $('#divFEDEX').find('input[type="radio"]:checked').attr('value');
            var DocumentNo = '@ViewBag.DocumentNo';
            var LineNo = '@ViewBag.LineNo';
            var OrderType = '@ViewBag.OrderType';

            $.ajax({
                url: '@ViewBag.URL' + "/rl/SubmitRL",
                data: { 'FEDEXValue': FEDEXValue, 'FEDEXText': FEDEXText, 'DocumentNo': DocumentNo, 'LineNo': LineNo, 'OrderType': OrderType },
                type: 'POST',
                async: false,
                //data: JSON.stringify(Filter),
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#lblSuccess').css("display", "block");
                },
                  error: function (msg) {
                      $('#lblError').css("display", "block");
                }
            });
        });
        });
        function CloseMe() {
            var win = window.open("", "_self");
            win.close();
        }
    </script>
</head>
<body>
    <h2></h2>
    <div class="container">
        <h2 class="headTag"> R and L</h2>
        <div id="messg"></div>

        <div class="lgWrap">
            <div class="leftImg fedxImg" style="background:#fff;">
                <img ID="Image1" width="200" src="~/images/rnl.png" style="max-height:110px;margin-top:-55px;" />
            </div>
            <div class="rightAcv">
                <h4 ID="lblheader"> R and L Charges</h4>

                
                <div id="divFEDEX">

                    @foreach (var item in Model)
                    {
                        <table>
                            <tr>
                                <td><input type="radio" name="Rates" value=@item.Charge title="@item.Title.Trim()"  checked>@item.Title:@item.Charge<br> </td>
                                </tr>
                                    <tr>
                                <td></td>
                                       
                            </tr>
                        </table>
                        
                     }

                </div>

                <div class="lgBtns">
                    <a id="btnSubmit" onclick="window.close()">Submit</a>
                </div>

                <label Style="color: Green;display:none;" ID="lblSuccess">R and L Charge Updated Successfully</label>
                <label Style="color: Red;display:none;" ID="lblError">Error While Updating R and L Charge</label>
            </div>
        </div>
    </div>
</body>
</html>
