@using Adbag_NAVMicroservice.Models
@model Adbag_NAVMicroservice.Models.ArtworkApprovalDetails
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proof Approval</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://d207zvy2rsg5b5.cloudfront.net/css/owl.carousel.bundle.min.css" rel="stylesheet"/>
  

    <style type="text/css">
        .rightArea table td {
            white-space: normal !important;
            word-break: break-word;
        }

        .leftArea a#dldimg1 {
            order: -1;
        }
        .col-12{width:100%;}
        .header {display:flex;justify-content:space-between;background-color:#ffffff;border-bottom: 1px solid #d7d7d7;width:100%;padding:20px 0;}
        .header .col-5{display:flex;align-items:center;max-width:calc(75% / 2); flex:0 0 calc(75% / 2);padding:0 10px;}
        .header .col-5 img{max-width:90%;}
        .col-2.contactDetails {align-items:flex-start;flex-direction:column;border-left:1px solid #d7d7d7;padding:0 10px;width:25%;flex:0 0 25%;}
        .contactDetails span {display: block;font-size:16px;}
        .contactDetails span:first-child {font-weight:bold;}
        .contactDetails span:nth-child(2){color: #fc671a;}
        .contactDetails span:nth-child(3) {font-weight: bold;font-size:12px;color: #0098a7;}
        .contactDetails ul {padding: 0;margin: 0px;list-style: none;}
        .contactDetails ul li a {text-decoration: none;font-weight: bold;font-size:16px;display:flex;}
         .contactDetails ul li a img {margin-right:5px;height: 100%;width: 7%;}

        .middleArea .prodCode h5{color:#5f5f5f;font-size:17px;text-transform:uppercase;margin:0;}
        .middleArea .prodName h1{text-transform:uppercase;margin:0;padding-bottom:15px;}
        .middleArea .prodName h1 span{font-size:24px;border-bottom:2px solid #f9992b;padding-bottom:15px;}
        .middleUpper {display:flex;border-bottom: 1px solid #d7d7d7;}
        .middleUpper .col-10{max-width:75%;padding:0 10px;flex:0 0 75%;}
        .middleUpper .col-2.dtv{max-width:25%;flex:0 0 25%;}
        .middleUpper ul{padding: 0;margin: 0px;list-style: none;border-left:1px solid #d7d7d7;padding-left:10px;display:flex;flex-wrap:wrap;}
        .middleUpper ul li{width:50%;}
        .middleUpper ul li span{font-weight:bold;text-transform:uppercase;}

        .col-12.nested{padding:30px 0;display:flex;}
        .nested .col-6{width:50%;padding:0 10px;}
        img#productImage {max-width: 100%;border: 1px solid #d7d7d7;padding: 20px;}
        .imprintArt h5{border-bottom:1px solid #d7d7d7;padding-bottom:5px;margin:0 0 20px 0;text-transform:uppercase;}
        .imprintArt h5 span{border-bottom:2px solid #f9992b;padding-bottom:5px;}
        .imprintArt {margin-bottom:15px;}

        .imprintTable .table.table-striped{width:90%;border:1px solid #d7d7d7;}
        .imprintTable .table-striped tr:nth-of-type(odd) {background-color: #e7e7e7;}
        .imprintTable table td {padding: .5rem;width: 50%;}
        .imprintTable table td:first-child{font-weight:bold;text-transform:uppercase;border-right:1px solid #d7d7d7;}

        .signature {background: #e7e7e7;padding: 5px;margin-top: 20px;}
        div#radioButtons ul {list-style: none;padding: 0;display: flex;justify-content: space-between;margin:15px;}
        .signature .tabs {padding: 10px;margin: 15px;background: #ffffff; border: 2px solid #d7d7d7;border-left-color: #fd671a;}
        .signature .tabs div {display:flex;flex-direction:column;margin-bottom:15px;}
        .signature .tabs div span{color:#fd671a;margin-bottom:10px;}
        .signature .tabs div.lgBtns {flex-direction: row;}
        .signature #btnSubmit {padding: 5px;background-color: #fd671a;width: 30%;font-weight: normal;}
        .signature #btnReset {padding: 5px;background-color: #ffffff;width: 30%;border: 1px solid #000;color: #000;font-weight: normal;}
        .note {display: flex;flex-direction: row !important;margin-top:10px;}
        .note img {margin-right:5px;height:100%;width:3%;}
        .note p {color: #01a1b5;margin:0;}
        /*#apporvedAs, #approvedWith, #notApproved {display: none;}*/
        div#radioButtons[data-active="lbl1"] ~ #approvedWith .commentSection {
            display: none;
        }
        .varientImages {margin-top:20px;}
        .varientImages .owl-nav {margin: 0;position: absolute;top: 50%;transform: translateY(-50%);width:100%;}
        .varientImages .owl-nav button.owl-prev span {font-size: 60px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);color:#fc671a;}
        .varientImages .owl-nav button.owl-next span {font-size: 60px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);color:#fc671a;}

    </style>
</head>
<body>


    <div class="container">
        @*<div class="scrollToForm">Click here to Approve</div>*@
        <div class="header">
            <div class="col-5 logo">
                <img id="ArtLogo" src="~/images/American Ad Bag.jpg" />
            </div>
            <div class="col-5 artProof">
                <img id="ArtLogo" src="~/images/art.jpg" />
            </div>
            <div class="col-2 contactDetails">
                @*<span>Your Dedicated Representative</span>
                    <span>THERESA BURTON</span>
                    <span>Account Executive</span>*@
                <ul>
                    @*<li class="tel"><a href="tel:800.232.1121 x1222"><img id="phoneLogo" src="~/images/phone.png" />800.232.1121 x1222</a></li>
                        <li class="mail"><a href="mailto:Theresa.Burton@MarcoPromos.com" target="_top"><img id="mailLogo" src="~/images/mail.png" />Theresa.Burton@MarcoPromos.com</a></li>*@
                </ul>
            </div>
        </div>
        <div class="middleArea">
            <div class="middleUpper">
                <div class="col-10">
                    <div class="col-12 prodCode">
                        <h5>@Model.ItemNumber</h5>
                    </div>
                    <div class="col-12 prodName">
                        <h1>
                            <span>@Model.ItemDescription</span>
                        </h1>
                    </div>
                </div>
                <div class="col-2 dtv">
                    <ul>
                        <li><span>date</span></li>
                        <li>@Model.ArtworkDate</li>
                        <li><span>time</span></li>
                        <li>@Model.ArtworkTime</li>
                        @*<li><span>version</span></li>
                            <li>version</li>*@
                    </ul>
                </div>
            </div>
            <div class="col-12 nested">
                <div class="col-6">
                    <div class="prodImage col-12">
                        <img id="productImage" height="550" width="550" />@*src="~/images/test-main-img.jpg"*@
                    </div>
                    <div class="varientImages">
                        <div class="owl-carousel owl-theme" style="display:none">
                            <div class="item"><img src="~/images/varient-img1.jpg" /></div>
                            <div class="item"><img src="~/images/varient-img2.jpg" /></div>
                            <div class="item"><img src="~/images/varient-img3.jpg" /></div>
                            <div class="item"><img src="~/images/varient-img1.jpg" /></div>
                            <div class="item"><img src="~/images/varient-img2.jpg" /></div>
                            <div class="item"><img src="~/images/varient-img3.jpg" /></div>
                        </div>
                        <div class="note">
                            <img src="~/images/pdficon.png" />
                            <div class="linkPdf">
                                @*<a href="~/FTPImages/ArtworkApproval/ART00927_Pdf.pdf" download target="_blank">Click here to Download</a>*@
                                <a id="arProof" download target="_blank">Click here to Download</a>
                            </div>
                            <img src="~/images/info.png" />
                            <p>This proof shows the approximate size and placement of your imprint relative to the size of the product.Product and imprint colors may vary due to monitor settings.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="imprintArt">
                        <h5><span>imprint art</span></h5>
                        <div class="imprintArtImage">
                            <img id="rulerImage" width="300" height="300" />@*src="~/images/Chart.png"*@
                        </div>
                        <div class="note">
                            <img src="~/images/info.png" />
                            <p>DOTTED LINE REPRESENTS IMPRINT AREA AND DOES NOT PRINT.</p>
                        </div>
                    </div>
                    <div class="imprintTable">
                        <table class="table table-striped" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>sales order:</td>
                                <td>@Model.SalesOrder</td>
                            </tr>
                            <tr>
                                <td>Customer PO#:</td>
                                <td>@Model.CustomerPOnumber</td>
                            </tr>
                            <tr>
                                <td>Product:</td>
                                <td>@Model.ItemNumber</td>
                            </tr>
                            <tr>
                                <td>Imprint Area</td>
                                <td>@Model.ImprintLocation</td>
                            </tr>
                            <tr>
                                <td>imprint size:</td>
                                <td>@Model.ImprintSize</td>
                            </tr>
                            <tr>
                                <td>imprint method:</td>
                                <td>@Model.ImprintMethod</td>
                            </tr>

                            <tr>
                                <td>imprint colors:</td>
                                <td>@Model.ImprintColors</td>
                            </tr>
                            <tr>

                                <td>product colors:</td>
                                <td>@Model.ProductColors</td>
                            </tr>
                            <tr>
                                <td>Comments:</td>
                                <td>@Model.CommentsByCustomer</td>
                            </tr>

                            @*<tr>
                                    <td>Comments for Customer:</td>
                                    <td>@Model.CommentsForCustomer</td>
                                </tr>*@
                        </table>
                    </div>
                    <label id="lblStatus" style="color:red"></label>
                    <div class="signature" id="tblArtwork">
                        <div id="radioButtons">
                            <ul style="justify-content:flex-start">
                                <li><label id="lbl1">@Html.RadioButton("Status", "0", new { @checked = "checked" })Approved </label></li>
                                @*<li><label id="lbl2">@Html.RadioButton("Status", "1")Approved with Suggestion</label></li>*@
                                <li><label id="lbl3">@Html.RadioButton("Status", "1")Not Approved</label></li>
                            </ul>
                        </div>
                        @*<div id="apporvedAs" class="tabs">

                            </div>*@
                        <div id="approvedWith" class="tabs">
                            <div class="commentSection">
                                <span>Comments</span>
                                <input type="text" id="txtComments" />
                            </div>
                            <div class="signatureSection">
                                <span>Signature:</span>
                                <input type="text" id="txtSignature" />
                            </div>
                            <div class="note">
                                <img src="~/images/info.png" /><p>Please provide an electronic signature by typing your name</p>
                            </div>
                            <div class="lgBtns">
                                <input type="submit" value="Submit" class="btn" id="btnSubmit" />
                                <input type="submit" value="Reset" class="btn" id="btnReset" />
                            </div>
                        </div>
                        <label id="lblContactUs" style="color:red;margin:10px 0 0;font-size:13px;display:block;">Contact us by phone if you accidently approved the proof</label>
                        @*<div id="notApproved" class="tabs">

                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://d207zvy2rsg5b5.cloudfront.net/js/owl.carousel.min.js"></script>


  
    

    <script type="text/javascript">
        $(document).ready(function () {
            $('.commentSection').hide();
        LoadImages();

        var Imagepath1 = '@ViewBag.Image1'
        var Imagepath2 = '@ViewBag.Image2'
            var ActualQty = '@Model.ActualQuantity'
            var pdf='@ViewBag.Pdf'

        @*var NoOfRework = 'P' + '@Model.NoOfRework' + ' (' + '@Model.ArtworkDateTime' + ')'*@
        var IsBlindPage = '@Model.IsBlindPage'

        if (IsBlindPage == 'true' || IsBlindPage == 'True') {
            $('#ArtLogo').css("display", "none");
        }

        if (Imagepath1 == '') {
            $('#dldimg1').css("display", "none");
            $('#productImage').css("display", "none");
        }
            if (Imagepath2 == '') {
                $('#rulerImage').css("display", "none");
            }
            if (pdf == '') {
                $('#arProof').css("display", "none");
            }

            if (ActualQty == '')
            {
                $('#trActualQuantity').css("display", "none");
            }

            //$('#divRework').append(NoOfRework);
            //if (NoOfRework == '')
            //{
            //    $('#divRevisions').css("display", "none");
            //}

        var status = '@Model.Status';
        if (status.toString() !="Ok") {
            $('#tblArtwork').hide();
            $('#lblStatus').show();
            $('#lblStatus').text(status);
        }
        else
        {
            $('#tblArtwork').show();
            $('#lblStatus').hide();
            $('input[type=radio][name=Status]').change(function () {
                if (this.value == "0") {
                    $('#trComments').hide();

                }
                else {
                    $('#trComments').show();
                    $('.commentSection').show();
                }
            });
        }

        $('input[type=radio][name=Status]').change(function () {
            if (this.value == "0") {
                $('#trComments').hide();
            }
            else {
                $('#trComments').show();
            }
        });
        //|| $('input[type=radio][name=Status]:checked').val() == "2"
        $('#btnSubmit').click(function () {
            if (!$('input[type=radio][name=Status]:checked').val()) {
                alert("Please select at least one Status!");
            }
            else {
                if ($('#txtSignature').val() == "")
                {
                    alert("Please provide Signature.");
                }
                else
                    {
                if ($('input[type=radio][name=Status]:checked').val() == "1") {
                    if ($('#txtComments').val() == "") {
                        alert("Please provide comments.");
                    }
                    else {
                        SubmitArtwork();
                    }
                }
                else {
                    SubmitArtwork();
                }
            }
            }
        });
    });

    function SubmitArtwork()
    {
        var ArtworkStatus = $('input[type=radio][name=Status]:checked').val();
        var Comments = $('#txtComments').val();
        var Signature = $('#txtSignature').val();
        @*'@Model.ArtworkApprovalStatus' = ArtworkStatus;
        '@Model.Comments' = Comments;
        '@Model.Signature' = Signature;
        '@Model.HostUrl'='@ViewBag.URL';
        '@Model.PrimaryKey' = '@ViewBag.PrimaryKey';*@
        var ArtworkData = {
            ArtworkApprovalStatus: ArtworkStatus,
            Comments: Comments,
            Signature: Signature,
            HostUrl: '@ViewBag.URL',
            PrimaryKey: '@ViewBag.PrimaryKey',
            NewPrimaryKey: '@ViewBag.NewPrimaryKey'
        }

        $.ajax({
            url: '@ViewBag.URL' + "/Artwork/SubmitArtwork",
            data: JSON.stringify(ArtworkData),
                type: 'POST',
                //data: JSON.stringify(Filter),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    window.location.href = '@ViewBag.URL' + "/Artwork/GetArtworkDetails/" + '@ViewBag.PrimaryKey' + "/" + '@ViewBag.IsSO';
                },
                error: function (msg) {
                    $('#lblStatus').text("Error While Updating!");
                }
            });
            alert("Successfully Uploaded");
            window.location.href = '@ViewBag.URL' + "/Artwork/GetArtworkDetails/" + '@ViewBag.PrimaryKey' + "/" + '@ViewBag.IsSO';
        }

        function LoadImages()
        {
            debugger;
            var ImageData = {
                ImgPath1: '@ViewBag.Image1',
                ImgPath2: '@ViewBag.Image2',
                OrderNo: '@ViewBag.OrderNo',
                pdfname:'@ViewBag.Pdf'
            }
            $.ajax({
            url: '@ViewBag.URL' + "/Artwork/LoadImages",
            data: JSON.stringify(ImageData),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                console.log(response);
                 if (response != null) {

                     $("#productImage").attr("src", response.ImgPath1);
                     $("#rulerImage").attr("src", response.ImgPath2);
                     $("#arProof").attr("href", response.pdfdownpath);
                       }
            },
            error: function (xhr) {
                alert(xhr);
                    $('#lblStatus').text("Error While Updating!");
            }
            });
        }
        $(".scrollToForm").click(function () {
            $('html,body').animate({
                scrollTop: $(".ArtworkPart").offset().top
            },
                'slow');
        });

        $('div#radioButtons label#lbl2').addClass('active');

        $(document).on("click", "div#radioButtons label", function () {
            var tabName = $(this).attr("id");
            $('div#radioButtons').attr("data-active", tabName);
            $('div#radioButtons label').removeClass('active');
            $(this).addClass('active');
        });

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 4
                },
            }
        });
    </script>
</body>
</html>
