﻿@using Adbag_NavMicroservice.Models;
@model Adbag_NavMicroservice.Models.RateQuoteResponse.RootObjectMain
@{


    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RateQuote</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            align-content: center;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 4px !important;
        }

        tr:nth-child(even) {
            background-color: white;
        }

        .Section.Section2 {
            display: flex;
            max-width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
        }

            .Section.Section2 .struct .details span {
                padding: 2px 4px;
                display: inline-block;
            }

            .Section.Section2 .struct .details {
                border: #ccc solid;
                border-width: 0px 1px 1px 1px;
            }

                .Section.Section2 .struct .details:first-child {
                    border-top: 1px solid #ccc;
                }

        .Section.Section1 {
            display: flex;
            max-width: 100%;
            justify-content: space-between;
        }

        .Section.Section2 .struct .details span:not(.result) {
            border-right: 1px solid #ccc;
            width: 250px;
        }

        .Section.Section3 table td {
            font-size: 1rem;
            text-transform: CAPITALIZE;
        }

        .Section.Section1 img#Image1 {
            max-width: 100%;
            height: auto;
        }

        .Section.Section1 .productDetails {
            flex: 0 0 90%;
            max-width: 90%;
            text-align: center;
        }

        .Section.Section1.Section.Section1 .imgSection {
            flex: 0 0 10%;
            max-width: 10%;
        }

        .btn-submit {
            text-align: center
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
            $(document).ready(function () {
                $('#btnSubmit').click(function () {
                    debugger;

                    var FEDEXText ="Rate Quote";
                    var FEDEXValue = @Model.pageRoot.bodyMain.rateQuote.ratedCharges.totalCharges;
            var DocumentNo = '@ViewBag.DocumentNo';
            var LineNo = '@ViewBag.LineNo';
            var OrderType = '@ViewBag.OrderType';

            $.ajax({
                url: '@ViewBag.URL' + "/rl/SubmitRQ",
                data: { 'FEDEXValue': FEDEXValue, 'FEDEXText': FEDEXText, 'DocumentNo': DocumentNo, 'LineNo': LineNo, 'OrderType': OrderType },
                type: 'POST',
                async: false,
                //data: JSON.stringify(Filter),
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#lblSuccess').css("display", "block");
                },
                  error: function (msg) {
                      $('#lblError').css("display", "block");
                }
            });
        });
        });
        function CloseMe() {
            var win = window.open("", "_self");
            win.close();
        }
    </script>
</head>
<body>

    <div class="mainContainer">
        <div class="Section Section1">
            <div class="imgSection">
                <img ID="Image1" width="200" src="~/images/yrc.png" />
            </div>
            <div class="productDetails">
                <!--this will repeat-->
                <div class="details">
                    <span><b>Rate Quote</b></span>
                    <span class="result"></span>
                </div>

                <!--this will repeat-->
            </div>
        </div>
        <div class="Section Section2">
            <div class="structure1 struct">
                <!--this will repeat-->
                <div class="details">
                    <span>Pickup Date:</span>
                    <span class="result">@Model.pageRoot.bodyMain.rateQuote.pickupDate</span>
                </div>
                <div class="details">
                    <span>Standard Date:</span>
                    <span class="result">@Model.pageRoot.bodyMain.rateQuote.delivery.standardDate</span>
                </div>
                <div class="details">
                    <span>Standard Days:</span>
                    <span class="result">@Model.pageRoot.bodyMain.rateQuote.delivery.standardDays</span>
                </div>
                <!--this will repeat-->
            </div>
            <div class="structure2 struct">

                @foreach (var location in Model.pageRoot.bodyMain.rateQuote.location)
                {
                    if (@location.role == "Origin")
                    {
                        <div class="details">
                            <span>Role</span>
                            <span class="result">@location.role</span>
                        </div>
                        <div class="details">
                            <span>City</span>
                            <span class="result">@location.city</span>
                        </div>
                        <div class="details">
                            <span>statePostalCode</span>
                            <span class="result">@location.statePostalCode</span>
                        </div>
                        <div class="details">
                            <span>zipCode</span>
                            <span class="result">@location.zipCode</span>
                        </div>
                        <div class="details">
                            <span>nationCode</span>
                            <span class="result">@location.nationCode</span>
                        </div>

                        <div class="details">
                            <span>terminal</span>
                            <span class="result">@location.terminal</span>
                        </div>
                        <div class="details">
                            <span>zone</span>
                            <span class="result">@location.zone</span>
                        </div>
                        <div class="details">
                            <span>typeService</span>
                            <span class="result">@location.typeService</span>
                        </div>
                    }
                }

            </div>
            <div class="structure3 struct">
                @foreach (var location in Model.pageRoot.bodyMain.rateQuote.location)
                {
                    if (@location.role == "Destination")
                    {
                        <div class="details">
                            <span>Role</span>
                            <span class="result">@location.role</span>
                        </div>
                        <div class="details">
                            <span>City</span>
                            <span class="result">@location.city</span>
                        </div>
                        <div class="details">
                            <span>statePostalCode</span>
                            <span class="result">@location.statePostalCode</span>
                        </div>
                        <div class="details">
                            <span>zipCode</span>
                            <span class="result">@location.zipCode</span>
                        </div>
                        <div class="details">
                            <span>nationCode</span>
                            <span class="result">@location.nationCode</span>
                        </div>

                        <div class="details">
                            <span>terminal</span>
                            <span class="result">@location.terminal</span>
                        </div>
                        <div class="details">
                            <span>zone</span>
                            <span class="result">@location.zone</span>
                        </div>
                        <div class="details">
                            <span>typeService</span>
                            <span class="result">@location.typeService</span>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="Section Section3">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td> Description</td>
                            <td> Code</td>
                            <td> Rate</td>
                            <td> Rate UOM</td>
                            <td> Charges</td>
                            <td> Terms</td>
                            <td> Rate Per UOM</td>
                            <td> Credit Ind</td>
                            <td> Disposition</td>
                            <td> SourceCode</td>

                        </tr>
                        @foreach (var lineItem in Model.pageRoot.bodyMain.rateQuote.lineItem)
                        {

                            <tr>
                                <td>@lineItem.description</td>
                                <td>@lineItem.code</td>
                                <td>@lineItem.rate</td>
                                <td>@lineItem.rateUOM</td>

                                @if (@lineItem.charges != null)
                                {
                                    double charge = Convert.ToDouble(@lineItem.charges);
                                    double charges = (charge / 100);
                                    <td>@charges</td>
                                }



                                <td>@lineItem.terms</td>
                                <td>@lineItem.ratePerUOM</td>
                                <td>@lineItem.creditInd</td>
                                <td>@lineItem.disposition</td>
                                <td>@lineItem.sourceCode</td>



                            </tr>
                        }
                        <tr>
                            <td>Freight Charge</td>
                            <td></td>
                            <td></td>
                            <td></td>

                            @if (@Model.pageRoot.bodyMain.rateQuote.ratedCharges.freightCharges != 0)
                            {
                                double charge = Convert.ToDouble(@Model.pageRoot.bodyMain.rateQuote.ratedCharges.freightCharges);
                                double charges = (charge / 100);
                                <td>@charges</td>
                            }

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Other Charge</td>
                            <td></td>
                            <td></td>
                            <td></td>

                            @if (@Model.pageRoot.bodyMain.rateQuote.ratedCharges.otherCharges != 0)
                            {
                                double charge = Convert.ToDouble(@Model.pageRoot.bodyMain.rateQuote.ratedCharges.otherCharges);
                                double charges = (charge / 100);
                                <td>@charges</td>
                            }

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total charge</td>
                            <td></td>
                            <td></td>
                            <td></td>

                            @if (@Model.pageRoot.bodyMain.rateQuote.ratedCharges.totalCharges != 0)
                            {
                                double charge = Convert.ToDouble(@Model.pageRoot.bodyMain.rateQuote.ratedCharges.totalCharges);
                                double charges = (charge / 100);
                                <td><b>@charges</b></td>
                            }

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="btn-submit">
            <div class="col-md-12 text-center">
                <button id="btnSubmit" onclick="window.close()" class="btn-success">Submit</button>
           
                <label Style="color: Green;display:none; " ID="lblSuccess">Rate Quote Updated Successfully</label>

                <label Style="color: Red;display:none;" ID="lblError">Error While Updating Rate Quote Charge</label>
                @*<div class="btn-submit">
            <a id="btnSubmit" onclick="window.close()">Submit</a>
        </div>*@
            </div>
           
        </div>

</body>
</html>
