@using Adbag_NAVMicroservice.Models
@using Adbag_NavMicroservice.WAL;
@model WAL
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPS Charges</title>
    <link href="https://d24i03a34nio8i.cloudfront.net/css/style.min.css?v=21" rel="stylesheet" />
    <link href="https://d24i03a34nio8i.cloudfront.net/09383499-F9CD-4BEF-BDD5-E906CA13DE31/css/site.css?v=21" rel="stylesheet" />
    <link rel="stylesheet" href="https://d24i03a34nio8i.cloudfront.net/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="https://user.ewizpower.com/css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    @*<script src="~/js/jquery-1.8.3.min.js"></script>*@
    <link href="~/css/Website.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="~/js/quagga.js" type="text/javascript"></script>
    <script src="~/js/live_w_locator.js" type="text/javascript"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no" />

</head>
<body>
    @if (Model != null)
    {
    <div id="OrderReport" class="reportContainer" style="margin: 34px 37px 17px 44px;">
        <section id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-flex p-2">
                        <div class="controls" style="display:none">
                            <fieldset class="input-group">
                                <button class="stop">Stop</button>
                            </fieldset>
                            <fieldset class="reader-config-group">
                                <label>
                                    <span>Barcode-Type</span>
                                    <select name="decoder_readers">
                                        <option value="code_128" selected="selected">Code 128</option>
                                        <option value="code_39">Code 39</option>
                                        <option value="code_39_vin">Code 39 VIN</option>
                                        <option value="ean">EAN</option>
                                        <option value="ean_extended">EAN-extended</option>
                                        <option value="ean_8">EAN-8</option>
                                        <option value="upc">UPC</option>
                                        <option value="upc_e">UPC-E</option>
                                        <option value="codabar">Codabar</option>
                                        <option value="i2of5">Interleaved 2 of 5</option>
                                        <option value="2of5">Standard 2 of 5</option>
                                        <option value="code_93">Code 93</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Resolution (width)</span>
                                    <select name="input-stream_constraints">
                                        <option value="320x240">320px</option>
                                        <option selected="selected" value="640x480">640px</option>
                                        <option value="800x600">800px</option>
                                        <option value="1280x720">1280px</option>
                                        <option value="1600x960">1600px</option>
                                        <option value="1920x1080">1920px</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Patch-Size</span>
                                    <select name="locator_patch-size">
                                        <option value="x-small">x-small</option>
                                        <option value="small">small</option>
                                        <option selected="selected" value="medium">medium</option>
                                        <option value="large">large</option>
                                        <option value="x-large">x-large</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Half-Sample</span>
                                    <input type="checkbox" checked="checked" name="locator_half-sample" />
                                </label>
                                <label>
                                    <span>Workers</span>
                                    <select name="numOfWorkers">
                                        <option value="0">0</option>
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                        <option value="8">8</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Camera</span>
                                    <select name="input-stream_constraints" id="deviceSelection"></select>
                                </label>
                                <label style="display: none">
                                    <span>Zoom</span>
                                    <select name="settings_zoom"></select>
                                </label>
                                <label style="display: none">
                                    <span>Torch</span>
                                    <input type="checkbox" name="settings_torch" />
                                </label>
                            </fieldset>
                        </div>
                        <div id="result_strip">
                            <ul class="thumbnails"></ul>
                            <ul class="collector"></ul>
                        </div>
                        <div id="interactive" class="viewport" style="height: 200px"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="searchBox">
            <div class="form-row">
                <div class="col-6">
                    <label class="sr-only">Order Line Number - </label>
                </div>

                <div class="col-auto action-reset">
                    <a href="@ViewBag.OrderItemList" class="btn btn-primary" id="btnBackOrderList" onclick="">Back To Order Line List</a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Action Type : </label>
                    <label class="required">@Model.Action_Type</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Activity Type : </label>
                    <label class="required">@Model.Activity_Type</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Order No : </label>
                    <label class="required">@Model.No</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Source Document : </label>
                    <label class="required">@Model.Source_Document</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Source No : </label>
                    <label class="required">@Model.Source_No</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Source Line No : </label>
                    <label class="required">@Model.Source_Line_No</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Item No : </label>
                    <label class="required">@Model.Item_No</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Location Code : </label>
                    <label class="required">@Model.Location_Code</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Zone Code : </label>
                    <label class="required">@Model.Zone_Code</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Bin Code : </label>
                    <label class="required">@Model.Bin_Code</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Qty Handled : </label>
                    <label class="required">@Model.Qty_Handled</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Waste Quantity : </label>
                    <label class="required">@Model.Waste_Quantity</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Pick Barcode : </label>
                    <label class="required">@Model.Pick_Barcode</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required">Due Date: </label>
                    <label class="required">@Model.Due_Date</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="required"> Description : </label>
                    <label class="required">@Model.Description</label>
                </div>
            </div>
        </div>

    </div>
    }
    </body>
</html>