@using Adbag_NAVMicroservice.Models
@using Adbag_NavMicroservice.WAL;
@model List<WAL>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPS Charges</title>
    <link href="https://d24i03a34nio8i.cloudfront.net/css/style.min.css?v=21" rel="stylesheet" />
    <link href="https://d24i03a34nio8i.cloudfront.net/09383499-F9CD-4BEF-BDD5-E906CA13DE31/css/site.css?v=21" rel="stylesheet" />
    <link rel="stylesheet" href="https://d24i03a34nio8i.cloudfront.net/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="https://user.ewizpower.com/css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    @*<script src="~/js/jquery-1.8.3.min.js"></script>*@
    <link href="~/css/Website.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="~/js/quagga.js" type="text/javascript"></script>
    <script src="~/js/live_w_locator.js" type="text/javascript"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no" />
    <script type="text/javascript">
        function GetOrderLine() {
            var ScanNumber = $("#SearchOrderLine").val();
            var Url = '@ViewBag.HostURL' + "/BarCodeScanner/PartialGetOrderItem";
            if (ScanNumber) {
                Url = '@ViewBag.HostURL' + "/BarCodeScanner/PartialGetOrderItem/" + $("#OrderNo").val() +"/"+ ScanNumber;
            }
            $.ajax({
                url: Url,
                type: "GET",
                contentType: "application/json",
                async: true,
                success: function (result) {
                    if (result) {
                        $(".partialView").html('');
                        $(".partialView").html(result);
                    }
                    else {
                        $(".partialView").html("No Record Found");
                    }
                }
            });
        }

        function ResetGetOrderLine() {
            $("#SearchOrderScan").val('');
            GetOrderList();
        }
    </script>
</head>
<body>
    <div id="OrderReport" class="reportContainer" style="margin: 34px 37px 17px 44px;">
        <div class="searchBox">
            <div class="form-row">
                <div class="col-lg-2 col-sm-3 col-6 input-orderno">
                    <label class="sr-only" for="txtSearchProductName">Order Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </div>
                        <input filter-name="Search" autocomplete="off" class="form-control" id="SearchOrderLine" required="" value="" type="text" placeholder="Search Order Item">
                    </div>
                </div>

                <div class="col-auto action-submit">
                    <a href="javascript:;" class="btn btn-primary" id="btnSearchOrderLine" onclick="GetOrderLine()">Search Order Item</a>
                </div>

                <div class="col-auto action-reset">

                    <a href="javascript:;" class="btn btn-primary" id="btnReset" onclick="ResetGetOrderLine()">Reset</a>
                </div>
                <div class="col-auto action-reset">
                    <a href="@ViewBag.OrderList" class="btn btn-primary" id="btnBackOrderList" onclick="">Back To Order List</a>
                </div>

            </div>
        </div>

        <div class="partialView">
            <div id="order-history-list" class="order-history-list" data-ColumnCount="8">
                <div class="order-header d-flex">
                    <div class="ordernumber">
                        Action Type
                    </div>
                    <div class="ordernumber">
                        Activity Type
                    </div>
                    <div class="ordernumber">
                        No
                    </div>
                    <div class="order--deliverydate">
                        Source Document
                    </div>
                    <div class="orderStatus">
                        Source No
                    </div>
                    <div class="ordershipping">
                        Source Line No
                    </div>
                    <div class="ordershipping">
                        Item No
                    </div>
                    <div class="ordershipping">
                        Location Code
                    </div>
                    <div class="ordershipping">
                        Zone Code
                    </div>
                    <div class="ordershipping">
                        Bin Code
                    </div>
                    <div class="ordershipping">
                        Qty Handled
                    </div>
                    <div class="ordershipping">
                        View Details
                    </div>
                </div>
                @if (Model.Count > 0)
                {
                    <div class="orders">
                        @foreach (var item in Model)
                        {
                            var ItemDetailsUrl = ViewBag.OrderListDetails + item.No + "/" + item.Item_No;
                            <input type="hidden" id="OrderNo" value="@item.No" />
                            <div class="order @item.No">
                                <div class="order-summary d-flex">
                                    <div class="order--number">
                                        @item.Action_Type
                                    </div>
                                    <div class="order--number">
                                        @item.Activity_Type
                                    </div>
                                    <div class="order--number">
                                        @item.No
                                    </div>
                                    <div class="order--date">@item.Source_Document</div>
                                    <div class="payment-status">
                                        <span class="visual-status @item.Source_No">@item.Source_No</span>

                                    </div>
                                    <div class="order--date">@item.Source_Line_No</div>
                                    <div class="order--date">@item.Item_No</div>
                                    <div class="order--shipping">
                                        @item.Location_Code
                                    </div>
                                    <div class="order--date">@item.Zone_Code</div>
                                    <div class="order--date">@item.Bin_Code</div>
                                    <div class="order--date">@item.Qty_Handled</div>
                                    <div class="order--billing">
                                        <a href="@ItemDetailsUrl" data-detailguid="@item.No" class="btn" data-Source-No="@item.Source_No" onclick=""><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>