@using Adbag_NAVMicroservice.Models
@model List<Adbag_NavMicroservice.Models.WAHViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPS Charges</title>
    <link href="https://d24i03a34nio8i.cloudfront.net/css/style.min.css?v=21" rel="stylesheet" />
    <link href="https://d24i03a34nio8i.cloudfront.net/09383499-F9CD-4BEF-BDD5-E906CA13DE31/css/site.css?v=21" rel="stylesheet" />
    <link rel="stylesheet" href="https://d24i03a34nio8i.cloudfront.net/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="https://user.ewizpower.com/css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    @*<script src="~/js/jquery-1.8.3.min.js"></script>*@
    <link href="~/css/Website.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="~/js/quagga.js" type="text/javascript"></script>
    <script src="~/js/live_w_locator.js" type="text/javascript"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no" />
    <script type="text/javascript">
        $(document).ready(function () {
            GetOrderList();
        });

        function GetOrderList() {
            var ScanNumber = $("#SearchOrderScan").val();
            var Url = '@ViewBag.HostURL' + "/BarCodeScanner/PartialGetListOrder";
            if (ScanNumber) {
                Url = '@ViewBag.HostURL' + "/BarCodeScanner/PartialGetListOrder/" + ScanNumber;
            }
            $.ajax({
                url: Url,
                type: "GET",
                contentType: "application/json",
                async: true,
                success: function (result) {
                    if (result) {
                        $(".partialView").html('');
                        $(".partialView").html(result);
                    }
                    else {
                        $(".partialView").html("No Record Found");
                    }
                }
            });
        }

        function ResetGetOrderList() {
            $("#SearchOrderScan").val('');
            GetOrderList();
        }
    </script>
</head>
<body>
    <div id="OrderReport" class="reportContainer" style="margin: 34px 37px 17px 44px;">
        <section id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-flex p-2">
                        <div class="controls" style="display:none">
                            <fieldset class="input-group">
                                <button class="stop">Stop</button>
                            </fieldset>
                            <fieldset class="reader-config-group">
                                <label>
                                    <span>Barcode-Type</span>
                                    <select name="decoder_readers">
                                        <option value="code_128" selected="selected">Code 128</option>
                                        <option value="code_39">Code 39</option>
                                        <option value="code_39_vin">Code 39 VIN</option>
                                        <option value="ean">EAN</option>
                                        <option value="ean_extended">EAN-extended</option>
                                        <option value="ean_8">EAN-8</option>
                                        <option value="upc">UPC</option>
                                        <option value="upc_e">UPC-E</option>
                                        <option value="codabar">Codabar</option>
                                        <option value="i2of5">Interleaved 2 of 5</option>
                                        <option value="2of5">Standard 2 of 5</option>
                                        <option value="code_93">Code 93</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Resolution (width)</span>
                                    <select name="input-stream_constraints">
                                        <option value="320x240">320px</option>
                                        <option selected="selected" value="640x480">640px</option>
                                        <option value="800x600">800px</option>
                                        <option value="1280x720">1280px</option>
                                        <option value="1600x960">1600px</option>
                                        <option value="1920x1080">1920px</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Patch-Size</span>
                                    <select name="locator_patch-size">
                                        <option value="x-small">x-small</option>
                                        <option value="small">small</option>
                                        <option selected="selected" value="medium">medium</option>
                                        <option value="large">large</option>
                                        <option value="x-large">x-large</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Half-Sample</span>
                                    <input type="checkbox" checked="checked" name="locator_half-sample" />
                                </label>
                                <label>
                                    <span>Workers</span>
                                    <select name="numOfWorkers">
                                        <option value="0">0</option>
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                        <option value="8">8</option>
                                    </select>
                                </label>
                                <label>
                                    <span>Camera</span>
                                    <select name="input-stream_constraints" id="deviceSelection"></select>
                                </label>
                                <label style="display: none">
                                    <span>Zoom</span>
                                    <select name="settings_zoom"></select>
                                </label>
                                <label style="display: none">
                                    <span>Torch</span>
                                    <input type="checkbox" name="settings_torch" />
                                </label>
                            </fieldset>
                        </div>
                        <div id="result_strip">
                            <ul class="thumbnails"></ul>
                            <ul class="collector"></ul>
                        </div>
                        <div id="interactive" class="viewport" style="height: 200px"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="searchBox">

            <div class="form-row">
                <div class="col-lg-2 col-sm-3 col-6 input-orderno">
                    <label class="sr-only" for="txtSearchProductName">Order Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        </div>
                        <input filter-name="Search" autocomplete="off" class="form-control" id="SearchOrderScan" required="" value="" type="text" placeholder="Search">
                    </div>
                </div>

                <div class="col-auto action-submit">
                    <a href="javascript:;" class="btn btn-primary" id="btnSearchCustomer" onclick="GetOrderList()">Search Order</a>
                </div>

                <div class="col-auto action-reset">

                    <a href="javascript:;" class="btn btn-primary" id="btnReset" onclick="ResetGetOrderList()">Reset</a>
                </div>

            </div>
        </div>

        <div class="partialView">

        </div>
    </div>
</body>
</html>