@using Adbag_NAVMicroservice.Models
@model List<Adbag_NavMicroservice.Models.WAHViewModel>
@{
    Layout = null;
}

                <div id="order-history-list" class="order-history-list" data-ColumnCount="4">
                    <div class="order-header d-flex">
                        <div class="ordernumber">
                            No
                        </div>
                        <div class="order--deliverydate">
                            Source Document
                        </div>
                        <div class="orderStatus">
                            Source No
                        </div>
                        <div class="ordershipping">
                            Location Code
                        </div>
                        <div class="ordershipping">
                            Scan Worksheet No
                        </div>
                        <div class="ordershipping">
                            View Details
                        </div>

                    </div>
                    @if (Model.Count > 0)
                    {
                        <div class="orders">
                            @foreach (var item in Model)
                            {
                                var OrderLineUrl = ViewBag.HostURL + @item.No;
                                <div class="order @item.No">
                                    <div class="order-summary d-flex">
                                        <div class="order--number">
                                            @item.No
                                        </div>
                                        <div class="order--date">@item.Source_Document</div>
                                        <div class="payment-status">
                                            <span class="visual-status @item.Source_No">@item.Source_No</span>

                                        </div>
                                        <div class="order--shipping">
                                            @item.Location_Code
                                        </div>
                                        <div class="order--shipping">
                                            @item.Scan_Worksheet_No
                                        </div>
                                        <div class="order--billing">
                                            <a href="@OrderLineUrl" target="_self" data-detailguid="@item.No" class="btn" data-Source-No="@item.Source_No" onclick=""><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        }
                </div>