@using Adbag_NAVMicroservice.Models
@using Adbag_NavMicroservice.WAL;
@model List<WAL>
@{
    Layout = null;
}

            <div id="order-history-list" class="order-history-list" data-ColumnCount="8">
                <div class="order-header d-flex">
                    <div class="ordernumber">
                        Action Type
                    </div>
                    <div class="ordernumber">
                        Activity Type
                    </div>
                    <div class="ordernumber">
                        No
                    </div>
                    <div class="order--deliverydate">
                        Source Document
                    </div>
                    <div class="orderStatus">
                        Source No
                    </div>
                    <div class="ordershipping">
                        Source Line No
                    </div>
                    <div class="ordershipping">
                        Item No
                    </div>
                    <div class="ordershipping">
                        Location Code
                    </div>
                    <div class="ordershipping">
                        Zone Code
                    </div>
                    <div class="ordershipping">
                        Bin Code
                    </div>
                    <div class="ordershipping">
                        Qty Handled
                    </div>
                    <div class="ordershipping">
                        View Details
                    </div>
                </div>
                @if (Model.Count > 0)
                {
                    <div class="orders">
                        @foreach (var item in Model)
                        {
                            var ItemDetailsUrl = ViewBag.OrderListDetails + item.No + "/" + item.Item_No;
                            <div class="order @item.No">
                                <div class="order-summary d-flex">
                                    <div class="order--number">
                                        @item.Action_Type
                                    </div>
                                    <div class="order--number">
                                        @item.Activity_Type
                                    </div>
                                    <div class="order--number">
                                        @item.No
                                    </div>
                                    <div class="order--date">@item.Source_Document</div>
                                    <div class="payment-status">
                                        <span class="visual-status @item.Source_No">@item.Source_No</span>

                                    </div>
                                    <div class="order--date">@item.Source_Line_No</div>
                                    <div class="order--date">@item.Item_No</div>
                                    <div class="order--shipping">
                                        @item.Location_Code
                                    </div>
                                    <div class="order--date">@item.Zone_Code</div>
                                    <div class="order--date">@item.Bin_Code</div>
                                    <div class="order--date">@item.Qty_Handled</div>
                                    <div class="order--billing">
                                        <a href="@ItemDetailsUrl" target="_self" data-detailguid="@item.No" class="btn" data-Source-No="@item.Source_No" onclick=""><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>