﻿@using Adbag_NAVMicroservice.Models
@model Adbag_NAVMicroservice.Models.USPSFreightDetails
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>USPS Charges</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="~/js/jquery-1.8.3.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        Calculate_USPSFreight_Value();

        function GetJsonRequestval() {
            var USPSFreightRequestdata = {
                "RateV4Request": {
                    "USERID": '@Model.USERID',
                    "PASSWORD": '@Model.PASSWORD',
                    "Revision": '@Model.Revision',
                    "Package": {
                        "ID": '@Model.PackageID',
                        "Service": '@Model.Service',
                        "FirstClassMailType": '@Model.FirstClassMailType',
                        "ZipOrigination": '@Model.ZipOrigination',
                        "ZipDestination": '@Model.ZipDestination',
                        "Pounds": '@Model.Pounds',
                        "Ounces": '@Model.Ounces',
                        "Container ": '@Model.Container',
                        "Size": '@Model.Size',
                        "Width": '@Model.Width',
                        "Length": '@Model.Length',
                        "Height": '@Model.Height',
                        "Girth": '@Model.Girth',
                        "Value": '@Model.Value',
                        "Machinable": '@Model.Machinable'
                    }
                }
            };
            return USPSFreightRequestdata;
        }

        function Calculate_USPSFreight_Value() {
            debugger;
        //Added By Swapnil For Token Generation
        var Token = "";
        $.ajax({
            url: 'https://freight.ewizsaas.com/api/token',
            type: 'POST',
            data: { 'username': 'YJdC0T5mdpk1Wiqs', 'password': 'QU0y1pWBzidf3Evk' },
            async: false,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                Token = result.access_token;
                //alert(Token);
            },
            error: function (msg) {
                $('#lblError').css("display", "block");
            }
        });
        //End


        var USPSFreightRequestdata = GetJsonRequestval();
        var USPSFreightRequest = JSON.stringify(USPSFreightRequestdata);
        var s_Content = $('#ddOutFormat').val();


        var FreightUrl = 'https://freight.ewizsaas.com/api/FreightRates/GetUSPS';
        $.ajax({
            url: FreightUrl,
            type: 'POST',
            data: USPSFreightRequest,
            async: false,
            contentType: "application/json;",
            headers: { "Accept": s_Content, "Authorization": "Bearer " + Token },
            success: function (data) {
                //alert(JSON.stringify(data));
                //USD ' + data[i].rate + '
                data.sort(function (a, b) {
                    return a.monetaryValue - b.monetaryValue;
                });
                var optionu = "";
                var errMsg = "";
                for (var i = 0; i < data.length; i++) {

                    if (data[i].rate != null) {
                        optionu += '<input type = "radio"  name="USPSValues" value="' + data[i].rate + '" Text = "' + data[i].mailService + '">USD ' + data[i].rate + ' ' + data[i].mailService + '</input>' + '<br />';
                    }
                    else {
                        if (data[i].description != "success") {
                            errMsg = errMsg + ',' + data[i].description;
                        }
                    }
                }

                $('#divUSPS').append(optionu);
                if (optionu == "") {
                    if (errMsg != "") {
                        errMsg = errMsg.replace(/^,/, '');
                        alert(errMsg);
                    }
                }
            },
            statusCode: {
                500: function () {
                    alert("Some error ocurred", "error");
                }
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                // debugger;
                //alert(msg, "error");
                alert('xrs.status = ' + xhr.status + '\n' +
                    'thrown error = ' + thrownError + '\n' +
                    'xhr.statusText = ' + xhr.statusText + '\n' +
                    'request = ' + request + '\n' +
                    'error = ' + error);
            }
        });
    };
        });

        $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var USPSValue = $('#divUSPS').find('input[type="radio"]:checked').attr('value');
            var USPSText = $('#divUSPS').find('input[type="radio"]:checked').attr('text');
            var DocumentNo = '@ViewBag.DocumentNo';
            var LineNo = '@ViewBag.LineNo';
            var OrderType = '@ViewBag.OrderType';
            debugger;
            $.ajax({
                url: '@ViewBag.URL' + "/USPS/SubmitUSPS",
                data: { 'USPSValue': USPSValue, 'USPSText': USPSText, 'DocumentNo': DocumentNo, 'LineNo': LineNo, 'OrderType': OrderType },
                type: 'POST',
                async: false,
                //contentType: "application/json;",
                //headers: { "Accept": s_Content },
                //data: JSON.stringify(Filter),
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#lblSuccess').css("display", "block");
                    CloseMe();
                },
                  error: function (msg) {
                      $('#lblError').css("display", "block");
                      CloseMe();
                }
            });
        });
        });

        function CloseMe() {
            var win = window.open("", "_self");
           
            win.close();
        }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="headTag">USPS Charges</h2>
        <div id="messg"></div>

        <div class="lgWrap">
            <div class="leftImg">
                <img ID="Image1" width="400" height="250" src="~/images/USPS.svg" />
            </div>
            <div class="rightAcv">
                <h4 ID="lblheader">USPS Freight Charges</h4>
                <div id="divUSPS"></div>
                <div class="lgBtns">
                    <a id="btnSubmit" onclick="window.close()">Submit</a>
                </div>
                <label Style="color: Green;display:none;" ID="lblSuccess">USPS Charge Updated Successfully</label>
                <label Style="color: Red;display:none;" ID="lblError">Error While Updating Freight Charge</label>
            </div>
        </div>

    </div>
</body>
</html>