@using Adbag_NAVMicroservice.Models
@model Adbag_NAVMicroservice.Models.FreightDetails
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPS Charges</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="~/js/jquery-1.8.3.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@

    <script type="text/javascript">
    $(document).ready(function () {
        //alert("Success");
        Calculate_Freight_Value();

        function Calculate_Freight_Value() {
            var exceptionMessage = '@Model.ExceptionMessage';
            if (exceptionMessage == "") {
                //Added By Swapnil For Token Generation
                var Token = "";
                $.ajax({
                    url: 'https://freight.ewizsaas.com/api/token',
                    type: 'POST',
                    data: { 'username': 'YJdC0T5mdpk1Wiqs', 'password': 'QU0y1pWBzidf3Evk' },
                    async: false,
                    contentType: "application/x-www-form-urlencoded",
                    success: function (result) {
                        Token = result.access_token;
                        //alert(Token);
                    },
                    error: function (msg) {
                        $('#lblError').css("display", "block");
                    }
                });
                //End

                var data = '@Model.FreightRequestdata';
                data = data.replace(/&quot;/g, '"');
                console.log(data);

                //var FreightRequestdata = data;//GetJsonRequestval();
                var FreightRequest = data;//JSON.stringify(FreightRequestdata);
                var s_Content = $('#ddOutFormat').val();

                var FreightUrl = 'https://freight.ewizsaas.com/api/FreightRates';
                $.ajax({
                    url: FreightUrl,
                    type: 'POST',
                    data: FreightRequest,
                    async: false,
                    contentType: "application/json;",
                    headers: { "Accept": s_Content, "Authorization": "Bearer " + Token },
                    success: function (data) {
                        data.sort(function (a, b) {
                            return a.monetaryValue - b.monetaryValue;
                        });
                        //alert(JSON.stringify(data));
                        //' + data[i].currencyCode + ' ' + data[i].monetaryValue + '
                        var optionu = "";
                        var errMsg = "";
                        for (var i = 0; i < data.length; i++) {

                            var _fType = "";
                            switch (data[i].freightType) {
                                case "11":
                                    _fType = "UPS Standard";
                                    break;
                                case "07":
                                    _fType = "UPS Worldwide Express";
                                    break;
                                case "54":
                                    _fType = "UPS Worldwide Express Plus";
                                    break;
                                case "08":
                                    _fType = "UPS Worldwide Expedited";
                                    break;
                                case "65":
                                    _fType = "UPS Worldwide Saver";
                                    break;
                                case "96":
                                    _fType = "UPS Worldwide Express Freight";
                                    break;
                                case "82":
                                    _fType = "UPS Today Standard";
                                    break;
                                case "83":
                                    _fType = "UPS Today Dedicated Courier";
                                    break;
                                case "84":
                                    _fType = "UPS Today Intercity";
                                    break;
                                case "85":
                                    _fType = "UPS Today Express";
                                    break;
                                case "86":
                                    _fType = "UPS Today Express Saver";
                                    break;
                                case "70":
                                    _fType = "UPS Access Point Economy";
                                    break;
                                //domestic

                                case "14":
                                    _fType = "UPS Next Day Air Early";
                                    break;

                                case "01":
                                    _fType = "UPS Next Day Air";
                                    break;
                                case "13":
                                    _fType = "UPS Next Day Air Saver";
                                    break;
                                case "59":
                                    _fType = "UPS 2nd Day Air A.M";
                                    break; case "02":
                                    _fType = "UUPS 2nd Day Air";
                                    break;
                                case "12":
                                    _fType = "UPS 3 Day Select";
                                    break;
                                case "03":
                                    _fType = "UPS Ground";
                                    break;


                                default:
                                    _fType = data[i].freightType;
                                    break;
                            } 

                            if (data[i].monetaryValue != null) {
                                optionu += '<input type = "radio"  name="UPSValues" value="' + data[i].monetaryValue + '" Text = "' + _fType + '">' + data[i].currencyCode + ' ' + data[i].monetaryValue + ' ' + _fType + '</input>' + '<br />';
                            }
                            else {
                                if (data[i].description != "success") {
                                    errMsg = errMsg + ',' + data[i].description;
                                }
                            }
                        }

                        $('#divUPS').append(optionu);
                        //Code for select service type selection comes from nav
                        $('#divUPS input[text="@ViewBag.ResShipment_Method"]').attr('checked', true);

                        if (optionu == "") {
                            if (errMsg != "") {
                                errMsg = errMsg.replace(/^,/, '');
                                alert(errMsg);
                            }
                        }
                    },
                    statusCode: {
                        500: function () {
                            alert("Some error ocurred", "error");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError, request, error) {
                        // debugger;
                        //alert(msg, "error");
                        alert('xrs.status = ' + xhr.status + '\n' +
                            'thrown error = ' + thrownError + '\n' +
                            'xhr.statusText = ' + xhr.statusText + '\n' +
                            'request = ' + request + '\n' +
                            'error = ' + error);
                    }
                });
            }
            else {
                $('#lblError').css("display", "block");
                $('#lblError').text(exceptionMessage);
            }
    };

    });

    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var UPSValue = $('#divUPS').find('input[type="radio"]:checked').attr('value');
            var UPSText = $('#divUPS').find('input[type="radio"]:checked').attr('text');
            var DocumentNo = '@ViewBag.DocumentNo';
            var LineNo = '@ViewBag.LineNo';
            var OrderType = '@ViewBag.OrderType';
            debugger;
            $.ajax({
                url: '@ViewBag.URL' + "/Freight/SubmitUPS",
                data: { 'UPSValue': UPSValue, 'UPSText': UPSText, 'DocumentNo': DocumentNo, 'LineNo': LineNo, 'OrderType': OrderType },
                type: 'POST',
                async: false,
                //contentType: "application/json;",
                //headers: { "Accept": s_Content },
                //data: JSON.stringify(Filter),
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#lblSuccess').css("display", "block");
                    // $('.container').css("display", "none");
                    CloseMe();
                },
                  error: function (msg) {
                      $('#lblError').css("display", "block");
                      CloseMe();
                }
            });
        });
    });

    function CloseMe() {
        var win = window.open("", "_self");
        win.close();
    }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="headTag">UPS Charges</h2>
        <div id="messg"></div>
        <div class="lgWrap">
            <div class="leftImg">
                <img ID="Image1" width="200" src="~/images/UPS.png" />
            </div>
            <div class="rightAcv">
                <h4 ID="lblheader">UPS Freight Charges</h4>
                <div id="divUPS"></div>
                <div class="lgBtns">
                    <a id="btnSubmit">Submit</a>
                </div>
                <label Style="color: Green;display:none;" ID="lblSuccess">UPS Charge Updated Successfully</label>
                <label Style="color: Red;display:none;" ID="lblError">Error While Updating Freight Charge</label>
            </div>
        </div>
    </div>
</body>
</html>



