﻿@using Adbag_NAVMicroservice.Models;
@model Adbag_NAVMicroservice.Models.BOL
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>BillofLaden</title>


</head>
<body>
    <div>
        @*<img src="data:image;base64,@System.Convert.ToBase64String(Model.BOLimag)" />*@
        @*//<iframe src="@Model.filepath"></iframe>*@
        <embed src="@Url.Action("empdf","BOL")" />
    </div>
    

</body>
</html>
