﻿@using Adbag_NAVMicroservice.Models
@model Adbag_NAVMicroservice.Models.FreightDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FEDEX Charges</title>
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />*@
    <link href="~/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="~/js/jquery-1.8.3.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>*@

    <script type="text/javascript">
    $(document).ready(function () {
        //alert("Success");
        Calculate_Freight_Value();

       function GetJsonRequestval() {
            var FreightRequestdata = {
                "RateRequest": {
                    "UserCredential": [
                        {
                            "FreightType": '@Model.FreightType',
                            "UserKey": '@Model.UserKey',
                            "Password": '@Model.Password',
                            "Meter_ShipperNo": '@Model.Meter_ShipperNo',
                            "Account_LicenceNo": '@Model.Account_LicenceNo',
                            "ServiceType": [],
                            "AllowNegotiatedRates": '@Model.AllowNegotiatedRates'
                        },
                        {
                            "FreightType":"",
                            "UserKey":"",
                            "Password":"",
                            "Meter_ShipperNo":"",
                            "Account_LicenceNo":"",
                            "ServiceType":[],
                            "AllowNegotiatedRates":true
                        }
                    ],
                    "RequestedShipment": {
                        "DropoffType": '@Model.DropoffType',
                        "PackagingType": '@Model.PackagingType'
                    },
                    "ShipperAddress": {
                        "StreetLines": [
                            "Input Your Information",
                            "Input Your Information2"
                        ],
                        "City": '@Model.Recipient_City',
                        "StateOrProvinceCode": '@Model.Shipper_StateOrProvinceCode',
                        "PostalCode": '@Model.Shipper_PostalCode',
                        "CountryCode": '@Model.Shipper_CountryCode',
                        "isResidential": '@Model.Shipper_isResidential'
                    },
                    "RecipientAddress": {
                        "StreetLines": [
                            "Input Your Information",
                            "Input Your Information2"
                        ],
                        "City": '@Model.Recipient_City',
                        "StateOrProvinceCode": '@Model.Recipient_StateOrProvinceCode',
                        "PostalCode": '@Model.Recipient_PostalCode',
                        "CountryCode": '@Model.Recipient_CountryCode',
                        "isResidential": '@Model.Recipient_isResidential'
                    },
                    "ProductDetails": {
                        "Currency": '@Model.Currency',
                        "Amount": '@Model.Amount',
                        "Quantity": '@Model.Quantity',
                        "Weight_Units": '@Model.Weight_Units',
                        "Weight_Value": '@Model.Weight_Value',
                        "Dim_Units": '@Model.Dim_Units',
                        "Dim_Length": '@Model.Dim_Length',
                        "Dim_Width":'@Model.Dim_Width',
                        "Dim_Height": '@Model.Dim_Height',
                        "UnitsPerCarton": '@Model.UnitsPerCarton'
                    }
                }
            };
            return FreightRequestdata;
        }

        function Calculate_Freight_Value() {
            //Added By Swapnil For Token Generation
            debugger;
        var Token = "";
        $.ajax({
            url: 'https://freight.ewizsaas.com/api/token',
            type: 'POST',
            data: { 'username': 'YJdC0T5mdpk1Wiqs', 'password': 'QU0y1pWBzidf3Evk' },
            async: false,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                Token = result.access_token;
                //alert(Token);
            },
            error: function (msg) {
                $('#lblError').css("display", "block");
            }
        });
        //End


        var data = '@Model.FreightRequestdata';
        data = data.replace(/&quot;/g, '"');
        console.log(data);

        //var FreightRequestdata = GetJsonRequestval();
        var FreightRequest = data; //JSON.stringify(FreightRequestdata);
        //var FreightRequest = $.parseJSON(FreightRequestdata);
        var s_Content = $('#ddOutFormat').val();


        var FreightUrl = 'https://freight.ewizsaas.com/api/FreightRates';
        $.ajax({
            url: FreightUrl,
            type: 'POST',
            data: FreightRequest,
            async: false,
            contentType: "application/json;",
            headers: { "Accept": s_Content, "Authorization": "Bearer " + Token},
            success: function (data) {
                //alert("Success");
                //alert(JSON.stringify(data));
                data.sort(function (a, b) {
                    return a.monetaryValue - b.monetaryValue;
                });
                //alert(JSON.stringify(data));
                //' + data[i].currencyCode + ' ' + data[i].monetaryValue + '
                var optionu = "";
                var errMsg = "";
                for (var i = 0; i < data.length; i++) {

                    if (data[i].monetaryValue != null) {

                            if (data[i].freightType == 'FEDEX EXPRESS SAVER') {
                                optionu += '<input type = "radio" name="FEDEXValues" value="' + data[i].monetaryValue + '" Text = "' + data[i].freightType + ' /3 DAY">' + data[i].currencyCode + ' ' + data[i].monetaryValue + ' ' + data[i].freightType + ' /3 DAY </input>' + '<br />';
                            }
                            else {
                                optionu += '<input type = "radio" name="FEDEXValues" value="' + data[i].monetaryValue + '" Text = "' + data[i].freightType + '">' + data[i].currencyCode + ' ' + data[i].monetaryValue + ' ' + data[i].freightType + '</input>' + '<br />';
                            }
                        }
                    else {
                        if (data[i].description != "success") {
                            errMsg = errMsg + ',' + data[i].description;
                        }
                    }
                }

                $('#divFEDEX').append(optionu);
                if (optionu == "") {
                    if (errMsg != "") {
                        errMsg = errMsg.replace(/^,/, '');
                        alert(errMsg);
                    }
                }
            },
            statusCode: {
                500: function () {
                    alert("Some error ocurred", "error");
                }
            },
            error: function (xhr, ajaxOptions, thrownError, request, error) {
                // debugger;
                //alert(msg, "error");
                alert('xrs.status = ' + xhr.status + '\n' +
                    'thrown error = ' + thrownError + '\n' +
                    'xhr.statusText = ' + xhr.statusText + '\n' +
                    'request = ' + request + '\n' +
                    'error = ' + error);
            }
        });
    };

    });

    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var FEDEXValue = $('#divFEDEX').find('input[type="radio"]:checked').attr('value');
            var FEDEXText = $('#divFEDEX').find('input[type="radio"]:checked').attr('text');
            var DocumentNo = '@ViewBag.DocumentNo';
            var LineNo = '@ViewBag.LineNo';
            var OrderType = '@ViewBag.OrderType';

            $.ajax({
                url: '@ViewBag.URL' + "/Fedex/SubmitFEDEX",
                data: { 'FEDEXValue': FEDEXValue, 'FEDEXText': FEDEXText, 'DocumentNo': DocumentNo, 'LineNo': LineNo, 'OrderType': OrderType },
                type: 'POST',
                async: false,
                //data: JSON.stringify(Filter),
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#lblSuccess').css("display", "block");
                    CloseMe();
                },
                  error: function (msg) {
                      $('#lblError').css("display", "block");
                      CloseMe();
                }
            });
        });
        });

        function CloseMe() {
            var win = window.open("", "_self");
            win.close();
        }
    </script>
</head>
<body>
    <h2></h2>
    <div class="container">
        <h2 class="headTag">FEDEX Charges</h2>
        <div id="messg"></div>

        <div class="lgWrap">
            <div class="leftImg fedxImg" style="background:#fff;">
                <img ID="Image1" width="200" src="~/images/fedex-main.png" style="max-height:110px;margin-top:-55px;" />
            </div>
            <div class="rightAcv">
                <h4 ID="lblheader">FEDEX Freight Charges</h4>
                <div id="divFEDEX"></div>


                <div class="lgBtns">
                    <a id="btnSubmit">Submit</a>
                </div>

                <label Style="color: Green;display:none;" ID="lblSuccess">Fedex Charge Updated Successfully</label>
                <label Style="color: Red;display:none;" ID="lblError">Error While Updating Freight Charge</label>
            </div>
        </div>
    </div>
</body>
</html>
